@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #333333;
  font-family: 'Karla';
}
.App {
  text-align: center;
}
/* NavBar */
nav select {
  display: none;
}
@media (max-width: 960px) {
  .navElements a  { display: none; }
  nav select { display: flex; justify-content: flex-end }
}

.navElements a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #F4CE14;;
}

/*Intro section*/


.box h1 {
  font-family:'Markazi Text';
  font-size: 64px;
  color: #F4CE14;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}
.box h2 {
  font-family:'Markazi Text';
  font-size: 40px;
  color: white;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0px;
}
.box p {
  font-family:'Markazi Text';
  font-size: 18px;
  color: white;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 30px;
}

.button2 {
  background-color: #F4CE14;
  font-size: 20px;
  font-family:'Markazi Text';
  width: 200px;
  height: 60px;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
.button2:hover {
  background-color: #EE9972;

  font-size: 20px;
  font-family:'Markazi Text';
  width: 200px;
  height: 60px;
  border-radius: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
.button3:hover {
  color: #EE9972;
}
/* About Section */

.box2 h1 {
  font-family:'Markazi Text';
  font-size: 64px;
  color: #333333;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}
.box2 h2 {
  font-family:'Markazi Text';
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0px;
}
.box2 p {
  font-family:'Markazi Text';
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 30px;
}

.imageBox {
  display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}

/* Footer Elements*/

.footerList li{
  padding: 10px;
}
.footerList li:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #F4CE14;;
}

/* Form styles*/

input, select {
  box-sizing: border-box;
        height: 39px;
        width: 426px;
        border: 1px solid #495E57;
        border-radius: 20px;
        padding-left: 20px;
        font-size: 16px;
}

form {
  display: inline;
  text-align: left;
  font-family:'Markazi Text';
  font-size: 20px;
  font-weight: bold;

}