@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
:root {
  --grid-xs: 0;
  --grid-sm: 576px;
  --grid-md: 768px;
  --grid-lg: 992px;
  --grid-xl: 1200px;
  --grid-xxl: 1400px;
  
  --container-sm: 540px;
  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1140px;
  --container-xxl: 1320px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.App {
  text-align: center;
}


@media (max-width: 540px) {
  .flex1 {
  display: grid;
  grid-template-columns: 100%;
  }
}

.box h1 {
  font-family:'Markazi Text';
  font-size: 64px;
  color: #F4CE14;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}
.box h2 {
  font-family:'Markazi Text';
  font-size: 40px;
  color: white;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0px;
}
.box p {
  font-family:'Markazi Text';
  font-size: 18px;
  color: white;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 30px;
}